{% extends "blog/base.html" %} {% block content %}
{% for post in posts %} {% load static %}
<div class="post block">
    
    <ul class="topiclist">
    <li class="topiclist__item bg-white">
    <h2 class="subtitle"></h2>
    </h2>{{post.title}}
    <small> Posed at {{post.posted_date}}</small>
    <p>{{post.intro}}</p>
    <a href="{% url 'post_detail' post.slug %}" target="_blank" class="grid">
        <img src="{% static 'images/cbn.jpeg' %}" width="100000" height="122222222220" alt="">
    </a></li>
</div>
{% endfor %}
{%endblock%}

